@using eClerx.Program3.Kishore.Models
@model  Supplier
@{
    ViewBag.Title = "Insert";
}


<h2>Insert</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="mb-2">
                    @Html.LabelFor(p => p.CompanyName)
                    @Html.TextBoxFor(p => p.CompanyName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.CompanyName)
                </div>
                <div class="mb-2">
                    @Html.LabelFor(p => p.Pincode)
                    @Html.TextBoxFor(p => p.Pincode, new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(x => x.Pincode)*@
                </div>
                <div class="mb-2">
                    @Html.LabelFor(p => p.MobileNo)
                    @Html.TextBoxFor(p => p.MobileNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.MobileNo)
                </div>
                <div class="mb-2">
                    @Html.LabelFor(p => p.EmailId)
                    @Html.TextBoxFor(p => p.EmailId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.EmailId)
                </div>
                <div class="mb-2">
                    @Html.LabelFor(p => p.CraetedDate)
                    @Html.TextBoxFor(p => p.CraetedDate, new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(p => p.)*@
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            }
        </div>
    </div>
</div>
